name: Angular Build and Deploy

on:
  push:
  pull_request:
  
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Build and Deploy
      uses: bitovi/github-actions-angular-to-github-pages@v1.0.0
      with:
        # because some dependencies versions are not found, idk why
        install_command: npm install 
